page-track-order {
    ion-card.card-md {
        width: 100%;
        ion-card-header {
            font-size: 2.125rem;
            color: #95989a;
            h1#orderId {
                font-size: 3rem;
                color: #5e5e5e;
            }
        }
    }
}