page-vessels{
    ion-toolbar{
        .toolbar-content{
            display: flex;
            .filter{
                background: transparent;
                box-shadow: none;
                ion-badge.badge-md{
                    padding: 4px 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 1.1rem;
                    position: absolute;
                    top: 0;
                    right: 2px;
                }
            }
        }
    }
    ion-card.card-md{
        width: 100%;
        border: 1px solid #ccc;
        ion-card-header{
            position: relative;
            h1{
                font-weight: bold;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
            }
            ion-badge.badge-md{
                position: absolute;
                right: 16px;
                background: #9d3aff;
                color: white;
                top: 16px;
                padding: 5px 16px;
                &.ready{
                    background: #2ec95c;
                }
                &.completed{
                    background: red;
                }
            }
        }
    }
    ion-card-content {
        padding-bottom: 0 !important;
        table {
            text-align: center;
            font-size: 2.25rem;
            th{
                font-weight: normal;
                color: #95989a;
                width: 30%;
            }
            td {
                color: #5e5e5e;
                font-weight: 700;
                font-size: 2.5rem;
            }
            th:last-child {
                text-align: right;
            }
            td:last-child {
                text-align: right;
            }
        }
        button.button-md{
            background: #fea20f;
            color: #000;
            font-weight: bold;
        }
        .slider{
            margin: -130px -16px 0;
            background: #6b0082;
            height: 130px;
            transition: all 0.3s;
            padding: 16px;
            .vessels{
                h1{
                    color: white;
                    font-weight: normal;
                    width: 70%;
                }
            }
            h1{
                color: white;
                font-weight: bold;
                font-size: 2.6rem;
            }
            h3{
                color: white; 
                font-size: 2rem;
                margin-bottom: 16px;
                white-space: nowrap; 
            }
            button{
                position: absolute;
                bottom: 0;
                margin: 0;
                right: 0;
            }
            > div{
                position: relative;
            }
        }
        .slideHeader{
            margin: 0 -16px;
            background: #fff;
            z-index: 999;
            position: relative;
            padding: 0 16px;
        }
    }
}